/hw1/cmake-build-debug/
/hw1/wet/skeleton_smash/cmake-build-debug/
/hw1/wet/skeleton_smash/CMakeLists.txt
/hw1/.idea
/hw1/wet/skeleton_smash/.idea
/hw1/wet/skeleton_smash/CMakeLists.txt
/hw1/CMakeLists.txt
*.o
cmake-build-debug/
CMakeLists.txt
.idea/
/hw1/wet/skeleton_smash/tests/*
/hw1/wet/skeleton_smash/
/hw1/wet/skeleton_smash/ctf
/hw1/wet/skeleton_smash/ctf.cpp
/hw1/wet/skeleton_smash/err.txt
/hw1/wet/skeleton_smash/out.txt
/hw1/wet/skeleton_smash/in.txt
/hw1/wet/skeleton_smash/infinite_loop
/hw1/wet/README.txt

/hw3/wet/*.o
/hw3/wet/.idea/
/hw3/wet/client
/hw3/wet/server
/hw3/wet/public/
/hw3/wet/output.cgi

/hw4/wet/test2/cmake-build-debug/*
/hw4/wet/test2/build/*

